    /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(icons/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(icons/MaterialIcons-Regular.woff) format('woff'),
        url(icons/MaterialIcons-Regular.ttf) format('truetype');
    }
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    html,body
    {
        font-family: 'Roboto', sans-serif;

        width: 100%;
        min-height: 100%;
        display: flex;

    }

    .main-container
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .main-search{
        margin: auto;
    }
    .main-search form{
        width: 80%;
        margin: auto;
    }
    .form-block
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .form-block label
    {
        margin-top: 15px;
        font-size: 20px;
        width: 100%;
    }
    .form-block input
    {  margin-top: 15px;
        outline: none;
        width: 100%;
        padding: 8px;
        border: 0;
        background-color: #EEEEEE;
        font-size: 18px;
    }
    .form-block button
    {  margin-top: 15px;
        border: 0;
        padding: 5px;
        background-color: #00C853;
        width: 100%;
    }

    .yt-list
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .yt-list li{
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        height: 20vh;

    }



    .yt-list li figure{
        width: 30%;
        height: 100%;
    }
    .yt-list li figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .yt-list li .user
    {
        position: absolute;
        top: 10px;
        background: #212121;
        padding: 8px;
        color: #00C853;
    }
    .yt-list li .title
    {
        width: 50%;
        display: block;
        margin: auto;
    }
    .yt-list li .title p
    {
        width: 100%;
        margin: auto;
        line-height: 25px;
        text-align: center;
    }

    .yt-list li:last-child
    {
        margin-bottom: 70px;
    }
    .audio-player
    {
        margin: auto;
        display: flex;
        height: 70px;
        align-items: center;
        position: relative;

    }

    .audio-player .player
    {
        float: right;
        width: 95%;
        margin: auto;
    }
    .audio-player .controls
    {
        float: right;
    }
    .audio-player .thumbnail
    {
        float: left;
        align-items: center;
        display: flex;
        width: 20%;
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
    }
    li .playing{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #00C853;
    }
    li .thumbnail{
        display: flex;
        position: relative;
        align-items: center;
    }
    .audio-player .thumbnail img
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .audio-player .thumbnail .info
    {
        line-height: 20px;
        position: absolute;
        margin: auto;
        font-size: 13px;
        left: 120%;
        width: 200%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .audio-player .thumbnail .title
    {

        white-space: pre;
    }
    .audio-player .thumbnail .time
    {
        color: white;
        display: block;
    }

    .controls i{
        font-size: 30px;
    }
    footer
    {

        color: #00C853;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #212121;
        align-items: center;
    }
    *
    {
        font-family: 'Roboto',sans-serif;
    }
    .loader-svg
    {
        position: absolute;
        width: 100%;
        text-align: center;
    }
    .loader-svg svg path, .loader-svg svg rect
    {
        fill:#00E676;
    }
    .progress-wrapper
    {

        display: block;
        height: 5px;
        background: #E0E0E0;
        width: 100%;
    }
    .progress-bar
    {
        width: 40%;
        height: 100%;
        background: #00C853;
        display: block;
    }
    .messages
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .messages .messages-list li
    {
        padding: 10px;
        color: white;
        text-align: center;
    }
    .messages .messages-list li.info
    {
        background: #1976D2;
    }
    .messages .messages-list li.error
    {
        background: #F44336;
    }

    .messages .messages-list li.warning
    {
        color: black;
        background: #FFEB3B;
    }
    .messages .messages-list li.success
    {
        background: #4CAF50;
    }